.header {
	position: fixed;
	top: 0;
	right: 0;
    left: 0;
    z-index: 101;
    box-shadow: 0 0 2px 1px map-deep-get($color, 'fifth-base');
    .container {
		padding-top: 20px;
		padding-bottom: 20px;
		transition: padding-top, padding-bottom 300ms ease;
    }
}
.is-scrolled { 
	background: map-deep-get($color, 'fourth-base');
	box-shadow: 0 0 2px 1px map-deep-get($color, 'brighten-smoothen-orphan');
	.container {
	padding-top: 10px;
	padding-bottom: 10px;
	}
	.logo {
	width: 180px;
	}
}