.panel {
	margin: 20px 0;
	padding: 10px 0;
	text-align: center;
	
	&:after {
		content: '';
		display: block;
		max-width: 388px;
		border-top: 1px solid map-deep-get($color, 'lighten-orphan');
		margin: 20px auto 0;
	}
	.low {
		display: block;
		font-size: 16px;
		font-weight: 400;
		padding-bottom: 5px;
	}
}
.panel-main {
	margin-bottom: 80px;
	padding: 10px 0;
	text-align: center;
	
	&:after {
		content: '';
		display: block;
		max-width: 388px;
		border-top: 1px solid map-deep-get($color, 'lighten-orphan');
		margin: 20px auto 0;
	}
}